body {
  margin-top:80px;
}

.page-title {
  display:inline-block;
  margin-top: 0px;
}

.chk {
    color: green;
    padding-left:10px;
    padding-top:4px;"
}

.status-select {
  margin-left: 8px;
  margin-top:-8px;
}

.blue {
  color:#476CB5;
}

.relative {
  position:relative;
}

.row-action-btns {
  display:none;
  position:absolute;
  top:-3;
  left:-3;
}

.sp {
  color:#EB7200;
}

.op {
  font-weight: bold;
  color:#0066B0;
}

.fi {
  color:#3E9032;
}

.inset-8 {
  padding:8px;
}

.root-overview {
  font-size:16px;
  line-height:24px;
}

.no-wrap {
  min-width: 60px;
}